<!DOCTYPE html>
<html>

<body>
    <nav>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        {% else %}
        <p>Welcome, Guest!</p>
        <a href="{% url 'users:register' %}">Sign Up</a>
        <a href="{% url 'users:login' %}">Log In</a>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}
</body>

</html>