 {% extends "base.html" %}

{% block content %}
<form method="post" action="{% url 'courses:enroll' course.id %}">
    {% csrf_token %}
    <h1>{{ course.name }}</h1>
    <p>{{ course.description }}</p>
    {% if request.user == course.instructor %}
        <div style="display: block;">
            <h1>Modules</h1>
            {% for module in course.modules.all %}
                <div style="display: block;">
                    <h2>{{ module.order }}. {{ module.title }}</h2>
                    <p>{{ module.discription }}</p>

                    <ul>
                        {% for lesson in module.lessons.all %}
                            <li>
                                <strong>Lesson {{ lesson.order }}: {{ lesson.title }}</strong>

                                {% if lesson.video_url %}
                                    <a href="{{ lesson.video_url }}" target="_blank">Watch Video</a>
                                {% endif %}

                                {% if lesson.pdf %}
                                    <a href="{{ lesson.pdf.url }}" download>Download PDF</a>
                                {% endif %}
                            </li>
                        {% empty %}
                            <p>No lessons added to this module yet!</p>
                            <a href="{% url 'courses:create_lesson' course.id module.id %}">Create Lesson</a>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'courses:create_module' course.id %}">Create Module</a>
                    <a href="{% url 'courses:create_lesson' course.id module.id %}">Create Lesson</a>
                </div>
            {% empty %}
                <p>This course doesn't have any modules yet!</p>
                <a href="{% url 'courses:create_module' course.id %}">Create Module</a>
            {% endfor %}
        </div>
        <a href="{% url 'courses:edit_course' course.id %}">Edit</a>
        <a href="{% url 'courses:delete_course' course.id %}">Delete</a>
    {% endif %}
    
    {% if request.user.is_authenticated %}
        {% if not is_enrolled %}
            <button type="submit">Enroll Now</button>
        {% endif %}
    {% else %}
        <a href="{% url 'users:login' %}?next={{ request.path }}">Login to Enroll</a>
    {% endif %}
</form>
{% endblock %}