{% extends "base.html" %}

{% block content %}
<form method="post" action="{% url 'courses:enroll' course.id %}">
    {% csrf_token %}
    <h1>{{ course.name }}</h1>
    <h3>{{ course.description }}</h3>
    {% if request.user == course.instructor %}
        <a href="{% url 'courses:edit_course' course.id %}">Edit</a>
        <a href="{% url 'courses:delete_course' course.id %}">Delete</a>
    {% endif %}
    
    {% if request.user.is_authenticated %}
        <button type="submit">Enroll Now</button>
    {% else %}
        <a href="{% url 'users:login' %}?next={{ request.path }}">Login to Enroll</a>
    {% endif %}
</form>
{% endblock %}